<!DOCTYPE html>
<html lang="es" ng-app="notesApp">
<head>
    <meta charset="UTF-8">
    <title>simple ng model</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js" ></script>
</head>
<body ng-controller="MainCtrl as ctrl">
    <input type="text" ng-model="ctrl.username" />
    <input type="password" ng-model="ctrl.password">
    <button ng-click="ctrl.change()">Change values</button>
    <button ng-click="ctrl.submit()">Submit</button>
    You typed <span ng-bind="ctrl.username"></span>
    
    <script type="text/javascript">
        angular.module('notesApp',[])
        .controller('MainCtrl',[function(){
            var self=this;

            self.change = function(){
                self.username = 'changed';
                self.password = 'password';
            };

            self.submit = function(){
                console.log('User clicked submit with ', self.username, self.password);
            };

        }]);
    </script>
</body>
</html>